## 1. Python Output

In [ ]:
## Python is a case sensitive language
print("Hello World!")

Hello World!

In [2]:
print("Hello", 1, 2.3, True)

Hello 1 2.3 True

In [5]:
## Using separator
print("Hello", "World", sep=" , ")

Hello , World

In [ ]:
## Change end default \n (new line) behavior
print("Hello", end="/")
print("World")

Hello/World

## 2. Data Types

In [9]:
## Integer
print(10)
## Python supports 1*10^308 numbers
print(1e308)

10
1e+308

In [10]:
## Decimal/Float
print(10.5)
print(1.7e309)

10.5
inf

In [11]:
## Boolean
print(True)
print(False)

True
False

In [12]:
## Text/String
print("Hello World!")

Hello World!

In [13]:
## Complex
print(2+6j)

(2+6j)

In [15]:
## List (Array)
print([1,2,3,4])

[1, 2, 3, 4]

In [16]:
## Tuple
print((1,2,3,4))

(1, 2, 3, 4)

In [17]:
## Sets
print({1,2,3,4,4,5,})

{1, 2, 3, 4, 5}

In [18]:
## Dictionary
print({"name": "Tanjim", "age": 28})

{'name': 'Tanjim', 'age': 28}

In [19]:
## type
type(6)

int

## 3. Variables
- Static Vs Dynamic Typing
- Static Vs Dynamic Binding
- Stylish declaration

In [ ]:
## Dynamic Typing
a = 10

## Static Typing and Binding
## int a = 10

Tanjim

In [22]:
## Stylish declaration
a, b , c = 10, 20, 30
print(a, b, c)

10 20 30

In [24]:
a=b=c= 10
print(a, b, c)

10 10 10

## Comments

In [ ]:
## Single Line Comment
'''
Multi 
Lines
Comments
'''

## 4. Keywords & Identifiers

In [ ]:
## Keywords
## Python has 32 keywords that can't use as a variable
'''
if, else, def, etc...
'''

In [ ]:
## Identifiers (variable, class, function name)
'''
Here are the rules for identifiers in Python in simple bullet points:
1. Can contain letters (a–z, A–Z), digits (0–9), and underscore (_).
2. Cannot start with a digit.
3. Case-sensitive (name, Name, and NAME are different).
4. Cannot use special characters like @, $, %, -, etc.
5. Cannot use Python keywords (if, for, class, def, etc.).
6. Can be of unlimited length (but should be meaningful).
7. Identifiers starting with underscore (_var, __var, __init__) often have special meanings.
'''

## 5. User Input

In [ ]:
name = input("Enter Your Name: ")
print(name)

## 6. Type Conversion

In [27]:
## String is a universal datatype
## Implicit Vs Explicit

## Implicit
a = 10
b = 5.5
print(a + b) ## Here a is an integer and b is a float number. After summation the result type implicitly converted. 

## Explicit
a = int("4")
print(type(a))

15.5
<class 'int'>

## 7. Literals

In [ ]:
a = 10
'''
Here, a is variable and variable name, = is a operator and 10 is the literal
'''