## Strings

Strings are sequence of Characters. In Python specifically, strings are a sequence of Unicode Characters.

- Creating Strings
- Accessing Strings
- Adding Chars to Strings
- Editing Strings
- Deleting Strings
- Operations on Strings
- String Functions

## Creating Strings

In [4]:
## Single quotation (single line)
name = 'Tanjim'

## Double quotation (single line)
name2 = 'Ahmed'

## Triple single quotation (multi line)
name3 = '''
Tanjim
Ahmed
'''

## Triple double quotation (multi line)
name4 = """
Tanjim
Ahmed
"""

print(name)
print(name2)
print(name3)
print(name4)

Tanjim
Ahmed

Tanjim
Ahmed


Tanjim
Ahmed

## Accessing Strings

In [ ]:
## Positive String
s = "Tanjim Ahmed"
print(s[3])

j

In [9]:
## Negative String
s = "Tanjim Ahmed"
print(s[-3])

m

In [15]:
## Slicing Positive
s = "Tanjim Ahmed"
print(s[0:10:2])

Tni h

In [17]:
## Slicing Negative (always starting value should be greater than ending value)
s = "Tanjim Ahmed"
print(s[::-1])

demhA mijnaT

## Editing and Deleting in Strings

In [ ]:
## Editing (In python, string is an immutable datatype. It can't editable)
s[0] = 't'

TypeError: 'str' object does not support item assignment

In [19]:
## Deleting
del s

## Operations on Strings

- Arithmetic Operations
- Relational Operations
- Logical Operations
- Loops on Strings
- Membership Operations

In [23]:
## concatenation
print('Tanjim' + ' ' + 'Ahmed')

Tanjim Ahmed

In [24]:
# lexiographically
'Tanjim' > 'Ahmed'

True

In [27]:
## loo iteration
name = "Tanjim Ahmed"
for i in range(len(name)):
    print(name[i], end=' ')

T a n j i m   A h m e d

In [29]:
## membership operators
't' in 'tanjim'

True

## Common Functions
- len
- max
- min
- sorted

In [30]:
## len
len(name)

12

In [31]:
## max
max(name)

'n'

In [32]:
## min
min(name)

' '

In [34]:
## sorted (it will be give a list of characters)
sorted(name)

[' ', 'A', 'T', 'a', 'd', 'e', 'h', 'i', 'j', 'm', 'm', 'n']

## Functions that only for string
- Capitalize
- Title
- Upper 
- Lower 
- Swapcase

In [35]:
## Capitalize
name.capitalize()

'Tanjim ahmed'

In [36]:
## Title
name.title()

'Tanjim Ahmed'

In [37]:
## Upper
name.upper()

'TANJIM AHMED'

In [38]:
## Lower
name.lower()

'tanjim ahmed'

In [ ]:
## Swapcase (it will swap the capital and small letter)
name.swapcase()

'tANJIM aHMED'

## Count/Find/Index

In [40]:
## count
name.count('m')

2

In [43]:
## find
name.find('hm')

8

In [45]:
## index (-1 not be considered)
name.index('m')

5

## endswith/startswith

In [46]:
## endswith
name.endswith('m')

False

In [48]:
## startswith
name.startswith('T')

True

## format

In [ ]:
## format
"My name is {}".format(name)

'My name is Tanjim Ahmed'

## isalnum/ isalpha/ isdigit/ isidentifier

In [50]:
## isalnum
'tanjim1234%'.isalnum()

False

In [51]:
## isalpha
'tanjim'.isalpha()

True

In [52]:
## isdigit
'123tanim'.isdigit()

False

In [55]:
## isidentifier
'first-name'.isidentifier()

False

## Split/Join

In [62]:
## split
name.split()

['Tanjim', 'Ahmed']

In [66]:
## join
" ".join(['Tanjim', 'Ahmed'])

'Tanjim Ahmed'

## Replace

In [ ]:
## replace
name.replace('Tanjim', 'Tanim')

'Tanim Ahmed'

## Strip

In [59]:
## strip (it will remove extra white space at the end)
'Tanjim      '.strip()

'Tanjim'